extends layout

block content
  h1 Twive
  h2 See if your favorite streamer(s) are live!
  form(method='POST' action='/')
    label(for='name') Twitch Username: 
    input(type='text' id='name' placeholder='Enter username here...' name='name')
    input(type='submit')
  hr
  .streamers
    .online
      h3 Online
      each streamer in online
        div
          p= streamer.name
          p= streamer.viewers
          a(href=streamer.twitchUrl) Twitch
    br
    .offline
      h3 Offline
      each streamer in offline
        div
          p= streamer.name

    

